.container {
    width:510px !important;
    background:#f5f5f5;
}
.content {
     min-height:850px;
     height:auto;
}

.site-title {
    text-align:center;
}

.pills a {
    text-shadow:none;
}

.choco-controlNavigation {
    bottom:-40px!important;
}